:root {
  --clr-primary: rgba(32, 178, 171, 0.8);
  --clr-secondary: coral;
  --width-big-scr: 50px;
  --width-small-scr: 60px;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  font-size: .9rem;
}

.container {
  width: 100%;
  height: 100vh;
  background: var(--clr-primary);
  position: relative;
}


.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bgr.jpg) no-repeat center center/cover;
  z-index: -1;
}

#logo {
  z-index: 2;
  width: 4em;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  animation: svgPulsing 1s infinite ease-in-out alternate forwards;
}

.spinner {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border-bottom: 2px solid var(--clr-secondary);
  border-top: 2px solid var(--clr-secondary);
  animation: spinner 3s infinite;
}

.content {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width .3s ease-in-out;
}

.Home h1, .Home p {
  transition: font-size .3s ease-in-out;
}

.Home {
  color: #DDD;
  position: relative;
  padding: 20px;
}

.Home h1 {
  font-size: 3.5em;
  line-height: 1.5;
  color: #EEE;
}

.Home p {
  font-size: 1.5em;
  line-height: 1.5;
  position: relative;
}

.Home::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  width: .3em;
  background: var(--clr-secondary);
  left: 0;
}

span {
  color: var(--clr-secondary);
}



@keyframes spinner {
  from {
    transform: rotate(0);
  } 
  to {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 800px) {
  #logo {
    width: 3em;
    height: auto;
  }

  .spinner {
    width: 3em;
    height: 3em;
  }

  .Home h1 {
    font-size: 2em;
  }

  .Home p {
    font-stretch: 1em;
  }

  .content.push {
    width: 50vw;
  }

  .content.push h1 {
    font-size: 1.5em;
  }

  .content.push p {
    font-size: .7em;
  }

  .content.push .Home {
    margin-left: 1em;
  }
}